html[data-bs-theme="dark"] .navbar-btn-group.active {
  box-shadow: 0 0 15px rgba(255, 255, 255, 1);
}

html[data-bs-theme="light"] .navbar-btn-group.active {
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}

.audio-icon {
  font-size: 1.4rem;
}
