.card-variant-highlights.desktop-item {
  width: 20vw;
}

.card-variant-highlights.mobile-item {
  width: 76vw;
}

.counter-container {
  font-size: 3.5rem;
  font-weight: 900;
  font-style: italic;
}

.plus-sign {
  font-style: italic;
  font-weight: bold;
}

@media (max-width: 850px) and (orientation: portrait) {
  .card-variant-highlights.desktop-item {
    width: 40vw;
  }
}

@media (max-width: 450px) and (orientation: portrait) {
  .card-variant-highlights .moving-diamond-pattern {
    row-gap: 2em;
    /* padding: 3em 0em; */
  }
}
