#highlights .container .desktop-carousel-container .desktop-item {
  width: 20vw;
}

#highlights .container .carousel-container .mobile-item {
  width: 76vw;
}

.counter-container {
  font-size: 3.5rem;
  font-weight: bold;
  font-style: italic;
}

@media (max-width: 850px) and (orientation: portrait) {
  #highlights .container .desktop-carousel-container .desktop-item {
    width: 40vw;
  }
}