.card-variant-highlights.desktop-item {
  width: 20vw;
}

.card-variant-highlights.mobile-item {
  width: 85vw;
}

@media (max-width: 850px) and (orientation: portrait) {
  .card-variant-highlights.desktop-item {
    width: 40vw;
  }
}

@media (max-width: 450px) and (orientation: portrait) {
  .card-variant-highlights .moving-diamond-pattern {
    row-gap: 2em;
    padding: 3em 0em;
  }
}
