.card-variant-projects.desktop-item {
  width: 28vw;
}

.card-variant-projects.mobile-item {
  width: 85vw;
}

.card-variant-projects .moving-diamond-pattern {
  position: absolute;
  top: 100%;
  left: 0;
  transition: all 2s;
}

.card-variant-projects:hover .moving-diamond-pattern {
  top: 0;
}
