.project-container {
  position: relative;
  height: 20vw;
  width: 28vw;
  border: 2px solid red;
  overflow: hidden;
}

.project-container figure {
  position: absolute;
  width: 100%;
  height: 100%;
}

#projects .container .desktop-carousel-container .desktop-item {
  position: absolute;
  top: 0;
  left: 0;
  /* top: 100%; */
  z-index: 3;
}

#projects .container .carousel-container .mobile-item {
  
}

.card-variant-projects .moving-diamond-pattern {
  position: absolute;
  top: 100%;
  left: 0;
  transition: all 2s;
}

.card-variant-projects:hover .moving-diamond-pattern {
  top: 0;
}
