#projects .container .desktop-carousel-container .desktop-item {
  padding: 0;
}

#projects .container .carousel-container .mobile-item {
  padding: 0;
}

.desktop-item figure,
.mobile-item figure {
  width: 110%;
  height: 110%;
}

.desktop-item .overlay,
.mobile-item .overlay {
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
  padding: 2em 0em;
  backdrop-filter: blur(2px);
  transition: all 1s;
  z-index: 3;
}

.desktop-item:hover .overlay,
.mobile-item:hover .overlay {
  top: 0;
}

.btn-group {
  display: flex;
  column-gap: 1em;
}

.btn-group a i,
.btn-group .like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
  padding: 0.3em;
  font-size: 2.2rem;
  cursor: pointer;
}

.btn-group button {
  background: none;
  border: none;
  padding: 0;
}

@media (max-width: 850px) and (orientation: portrait) {
  .desktop-item .overlay {
    font-size: 0.8rem;
  }

  .btn-group a i,
  .btn-group .like-button {
    font-size: 1.8rem;
  }
}
