.mobile-services-item,
.desktop-services-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2em;
  padding: 1em;
  border: 0.5em ridge #00a384;
  border-radius: 2em;
  background: linear-gradient(
    to left top,
    rgba(0, 163, 132, 0.9),
    rgba(0, 163, 132, 0.5),
    rgba(0, 163, 132, 0.3),
    rgba(0, 163, 132, 0.1),
    rgba(0, 163, 132, 0.1),
    rgba(0, 163, 132, 0.3),
    rgba(0, 163, 132, 0.5),
    rgba(0, 163, 132, 0.9)
  );
  backdrop-filter: blur(5px);
}

.desktop-services-item {
  width: 28vw;
  height: 35vw;
}

.mobile-services-item {
  width: 85vw;
  height: 100vw;
  cursor: grab;
}

.mobile-services-item:active {
  cursor: grabbing;
}

.desktop-services-item i,
.mobile-services-item i {
  font-size: 4rem;
}

.desktop-services-item h1,
.desktop-services-item p,
.mobile-services-item h1,
.mobile-services-item p {
  font-weight: bold;
  text-align: center;
}

.mobile-services-item p {
  font-size: 1.2rem;
}

@media (max-width: 850px) and (orientation: portrait) {
  .desktop-services-item {
    width: 42vw;
    height: 65vw;
    row-gap: 1em;
    padding: 0.3em;
  }
}

@media (max-width: 960px) and (orientation: landscape) {
  .desktop-services-item {
    width: 27vw;
    height: 42vw;
    row-gap: 1em;
  }
}

@media (max-width: 450px) and (orientation: portrait) {
  .mobile-services-item {
    height: 130vw;
    row-gap: 1em;
  }
}
