.icon-btns {
  display: flex;
  column-gap: 2em;
  margin-top: 1em;
}

.icon-btn {
  background-color: transparent;
  outline: none;
  width: 3.5rem;
  height: 3.5rem;
  transform-style: preserve-3d;
  cursor: pointer;
}

.icon-btn__back,
.icon-btn__front,
.icon-btn__label {
  transition:
    opacity 0.5s cubic-bezier(0.83, 0, 0.17, 1),
    transform 0.5s cubic-bezier(0.83, 0, 0.17, 1);
}

.icon-btn__back,
.icon-btn__front {
  border-radius: 1em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.icon-btn__back {
  display: block;
  transform: rotate(15deg);
  transform-origin: 100% 100%;
  will-change: transform;
}

.icon-btn__front {
  backdrop-filter: blur(5px);
}

.icon-btn__icon {
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-btn__label {
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  line-height: 2;
  opacity: 0;
  position: absolute;
  top: 100%;
  width: fit-content;
  right: 0;
  left: 0;
  transform: translateY(0);
}

.icon-btn:focus-visible .icon-btn__back,
.icon-btn:hover .icon-btn__back {
  transform: rotate(25deg) translate3d(-0.5em, -0.5em, 0.5em);
}

.icon-btn:focus-visible .icon-btn__front,
.icon-btn:hover .icon-btn__front {
  transform: translate3d(0, 0, 2em);
}

.icon-btn:focus-visible .icon-btn__label,
.icon-btn:hover .icon-btn__label {
  opacity: 1;
  transform: translateY(20%);
}

@media (max-width: 960px) and (orientation: landscape) {
  .icon-btn {
    width: 2.5rem;
    height: 2.5rem;
  }

  .icon-btn__back,
  .icon-btn__front {
    border-radius: 0.5em;
  }
}

@media (max-width: 450px) and (orientation: portrait) {
  .icon-btn {
    width: 2.2rem;
    height: 2.2rem;
  }

  .icon-btn__back,
  .icon-btn__front {
    border-radius: 0.5em;
  }
}
