@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

.themed-text {
  color: var(--text-color) !important;
  transition: color 2s ease;
}
.themed-bg {
  background-color: var(--bg-color);
  transition: background-color 2s ease;
}

.themed-border {
  border: 2px solid var(--border-color);
  transition: background-color 2s ease;
}

html[data-bs-theme="dark"] {
  --text-color: #fff;
  --bg-color: #060121;
  --border-color: #fff;
}

html[data-bs-theme="light"] {
  --text-color: #060121;
  --bg-color: #fff;
  --border-color: #060121;
}