@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

.container {
  height: 100%;
  max-width: 95%;
  margin: auto;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.sections-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sections-heading {
  font-family: "Caveat", cursive;
  font-size: 3rem;
  font-weight: bold;
  padding: 0.8em 0;
  text-align: center;
}

.btn {
  font-weight: bold;
  cursor: pointer;
  padding: 1em 1.5em;
  border-radius: 1em;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn:hover {
  transform: scale(0.9);
}

@media (max-width: 960px) and (orientation: landscape) {
  html,
  body {
    font-size: 85%;
  }
}

@media (max-width: 850px) and (orientation: portrait) {
  html,
  body {
    font-size: 110%;
  }
}

@media (max-width: 450px) and (orientation: portrait) {
  html,
  body {
    font-size: 90%;
  }
}

@media (max-width: 600px) and (orientation: landscape) {
  html,
  body {
    font-size: 65%;
  }
}

@media (max-width: 320px) and (orientation: portrait) {
  html,
  body {
    font-size: 75%;
  }
}
